{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Trouvez la voiture de vos rêves</th>
			</tr>
		</thead>
		<tbody>
			{% for marque in marques %}
				<tr>
					<td>
						<a href="{{ path('app_marque_tab',{'id':marque.id}) }}">{{ marque.name }}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if app.user %}
		<div class="text-center mt-3">
			<a href="{{ path('app_annonce_new') }}" class="btn btn-success">Ajouter une nouvelle annonce</a>
		</div>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') %}
		<div class="text-center mt-3">
			<a class="btn btn-warning" href="{{ path('app_annonce_index')}}">Liste des annonces</a>
			<a class="btn btn-warning" href="{{ path('app_marque_index')}}">Liste des marques</a>
		</div>
	{% endif %}
	<div class="cards-container d-flex justify-content-around flex-wrap gap-1">
		{% for annonce in annonces %}
			<div
				class="card" style="width: 18rem; gap">
				{# <img src="{{asset('images_directory/' ~ annonce.imgfile )}}" class="card-img-top" alt="placeholder"> #}
				<img src="{{asset(annonce.imgfile )}}" class="card-img-top" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">{{ annonce.title }}</h5>
					<p class="card-text">{{ annonce.description|raw }}</p>
					<p class="card-text">{{ annonce.title }}</p>
					<a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-info">Voir en détail</a>

					{% if app.user %}
						{% if annonce.isUserFav(app.user) %}
							<a href="{{ path('app_annonce_fav', {'id': annonce.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_annonce_fav', {'id': annonce.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %}

				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
