{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<h1 class="title text-center mt-4">Les annonces de :
		{{app.user.username}}
	</h1>

	{% if app.user %}
		<div class="cards-container d-flex justify-content-around flex-wrap gap-1">
			{% for annonce in annonces %}
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{asset('images_directory/' ~ annonce.imgfile)}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							{{annonce.title}}
						</h5>
						<p class="card-text">
							{{annonce.description|raw}}
						</p>
						<a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-warning">Voir en détail</a>

						{% if annonce.isUserFav(app.user) %}
							<a href="{{ path('app_annonce_fav', {'id': annonce.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_annonce_fav', {'id': annonce.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}

					</div>
				</div>
				{% else %}
			{% endfor %}
		</div>
	{% endif %}

	<h1 class="title text-center mt-4">Les annonces favorites de :
		{{app.user.username}}
	</h1>
	<div class="d-flex justify-content-around flex-wrap">
		{% for annonce in annoncesFav %}
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="{{asset(annonce.annonces.imgfile )}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">
						{{annonce.annonces.title}}
					</h5>
					<p class="card-text">
						{{annonce.annonces.description|raw}}
					</p>
					<a href="{{ path('app_annonce_show', {'id': annonce.annonces.id}) }}" class="btn btn-info">Voir en détail</a>

					{% if app.user %}
						{% if annonce.annonces.isUserFav(app.user) %}
							<a href="{{ path('app_annonce_fav', {'id': annonce.annonces.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_annonce_fav', {'id': annonce.annonces.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}

					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
